<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
        class="org.gots.springcourse.TestBean">
        <constructor-arg value="Sergei"/>
    </bean>

    <bean id="musicBean"
          class="org.gots.springcourse.music.ClassicalMusic">
        <!--   class="org.gots.springcourse.music.RockMusic"-->
        <!--   class="org.gots.springcourse.music.LoungeMusic"-->
    </bean>

    <!-- DEPENDECY INJECTION is here: -->
    <bean id="musicPlayer"
        class="org.gots.springcourse.music.MusicPlayer">
        <!-- <constructor-arg ref="musicBean"/> -->
        <!-- the next <property>-tag uses the setter-method setMusic(music Music).
           property name="music" pointers to this method:
            'm' will be replaced to 'setM' (with capitalizing of 'm')
            and music will be transformed to 'setMusic' - the name of our setter-method.
         -->
        <property name="music" ref="musicBean"/>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>