<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean"
        class="org.gots.springcourse.TestBean">
        <constructor-arg value="Sergei"/>
    </bean>

    <!-- BE ATTENTIVE: DESTROY-method WON'T BE CALLED if scope="prototype"  -->
    <!-- BE ATTENTIVE: FACTORY-method WILL CREATE ONLY ONE SINGLETONE INSTANCE if scope="singleton" -->
    <bean id="musicBean"
          class="org.gots.springcourse.music.ClassicalMusic"
          factory-method="getClassicalMusic"
          init-method="doMyInit"
          destroy-method="doMyDestroy"
          scope="singleton">
        <!--   class="org.gots.springcourse.music.RockMusic"-->
        <!--   class="org.gots.springcourse.music.LoungeMusic"-->
    </bean>

    <bean id="musicBean1"
          class="org.gots.springcourse.music.ClassicalMusic">
    </bean>
    <bean id="musicBean2"
          class="org.gots.springcourse.music.RockMusic">
    </bean>
    <bean id="musicBean3"
          class="org.gots.springcourse.music.LoungeMusic">
    </bean>

    <!-- DEPENDECY INJECTION is here: -->
    <bean id="musicPlayer"
        class="org.gots.springcourse.music.MusicPlayer"
        scope="prototype">
        <!-- <constructor-arg ref="musicBean"/> -->
        <!-- the next <property>-tag uses the setter-method setMusic(music Music).
           property name="music" pointers to this method:
            'm' will be replaced to 'setM' (with capitalizing of 'm')
            and music will be transformed to

            'setMusic'
                           - it's the name of our setter-method.
         -->
        <property name="music" ref="musicBean"/>

        <!-- Correspondingly, for this property with the name 'musicList'
            within the class MusicPlayer
            should exist the method

            'setMusicList(List<Music>)'
        -->
        <property name="musicList">
            <list value-type="org.gots.springcourse.music.Music">
                <ref bean="musicBean1"/>
                <ref bean="musicBean2"/>
                <ref bean="musicBean3"/>
            </list>
        </property>


        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>